
.answerNextLevelButton {
    grid-column: 1/3;
    grid-row: 2/3;

    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;

    background: #5e804c;
    font-size: 25px;

    transition: background-color 0.8s;
}

.answerNextLevelButton:hover {
    cursor: pointer;
    background: #76a160;
}

.answerNextLevelButton:disabled {
    background: #3b502f;
}

@media (max-width: 320px) {
    .answerNextLevelButton {
        margin-top: 10px;
    }
}