body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #595959;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content {
  max-width: 1000px;
  padding: 0 20px;

  background: #595959;
}

.content__congratulation {
  font-size: 60px;
  text-align: center;
  color: #95b126;
  text-shadow: 4px 4px 4px #132917;;
}

.content__theEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 35px;
  text-align: center;
  color: #95b126;
  text-shadow: 4px 4px 4px #132917;;
}

.content__theEnd--animation {

}


